$varchicas :(rojo: red, verde:green,azul:blue,);

@each $colores, $color in $varchicas {
    .#{$colores} {color: $color;}}

    $conmigo: (color:red ,tamfuente: 2rem);
    .mates {
        background-color: map-get($conmigo,color);
        font-size: map-get($conmigo,tamfuente);
    }